---
title: "Resume"
date: 2018-09-01
subtitle: "Expertise in Collecting, Managing, and Analyzing Data"
output:
  pdf_document: default
  html_document:
    keep_md: yes
---

<script src="/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<link href="/rmarkdown-libs/vis/vis.min.css" rel="stylesheet" />
<script src="/rmarkdown-libs/vis/vis.min.js"></script>
<link href="/rmarkdown-libs/timeline/timevis.css" rel="stylesheet" />
<script src="/rmarkdown-libs/timevis-binding/timevis.js"></script>
<script src="/rmarkdown-libs/jquery/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/rmarkdown-libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="/rmarkdown-libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/rmarkdown-libs/bootstrap/shim/html5shiv.min.js"></script>
<script src="/rmarkdown-libs/bootstrap/shim/respond.min.js"></script>


<div id="expertise-in-collecting-managing-and-analyzing-data" class="section level2">
<h2>Expertise in Collecting, Managing, and Analyzing Data</h2>
<table>
<thead>
<tr class="header">
<th>Cell: 863-399-4363</th>
<th>email: <a href="mailto:kevingilds@gmail.com">kevingilds@gmail.com</a></th>
<th>Lakeland, FL</th>
</tr>
</thead>
<tbody>
</tbody>
</table>
<div id="skill-summary" class="section level3">
<h3>Skill Summary</h3>
<table>
<thead>
<tr class="header">
<th>Excel/Access</th>
<th>Calculate/Interpret Statistics</th>
<th>R Programming</th>
<th>Git/Github</th>
<th>SQL</th>
</tr>
</thead>
<tbody>
</tbody>
</table>
</div>
<div id="work-experience" class="section level3">
<h3>Work Experience</h3>
<p>DATA SCIENCE</p>
<ul>
<li><p><strong>Created functions, scripts and reports in R to manage survey and academic data for the Get REAL! statewide mentoring program:</strong> resulting in a work process that is automated and reproducible.</p></li>
<li><p><strong>Developed Shiny dashboard application to communicate data entry status from multiple site locations</strong>: resulting in keeping client updated on data entry progress.</p></li>
<li><p><strong>Developed best practices to sanitize data and merge spreadsheets using the Vlookup Function:</strong> resulting in increased efficiency in meeting performance measures and helping consumers get services faster.</p></li>
<li><p><strong>Identified data sources and requirements to automate billing process and collaborated with MIS to implement</strong>: resulting in saving 20 hours of data entry and improving efficiency of billing process.</p></li>
<li><p><strong>Developed Google Drive Form/Spreadsheet combination to process 800+ referrals a month:</strong> resulting in increasing data quality, real time reporting of workload, and faster response time to referrals.</p></li>
</ul>
<p>PROJECT MANAGMENT</p>
<ul>
<li><p><strong>Manage program databases and identify needed data to make more effective reports and queries:</strong> resulting in automated reports for management and partners.</p></li>
<li><p><strong>Led team in managing the process of helping seniors obtain eligibility for Long Term Care Services:</strong> assigned workloads, set milestones, and monitored progress of monthly releases, resulting in achieving performance measures every month over 2 years.</p></li>
<li><p><strong>Monitored phone calls and staff documentation to ensure quality assurance standards were being met:</strong> resulting in the identification of training needs for staff to help improve communication to consumers.</p></li>
<li><p><strong>Generate staff productivity reports that measursed staff productivity:</strong> resulting in conversations with teams members about their weekly productivity and providing technical assistance to remove barriers to success.</p></li>
<li><p><strong>Created videos and written documentation to teach and document technical processes to manage data and workflow:</strong> resulting in delegations of tasks and staff development.</p></li>
</ul>
<p>EDUCATION</p>
<ul>
<li><p>University of South Florida-MPA Public Administration, 2007</p></li>
<li><p>University of Northern Iowa-BA Sociology, 1999</p></li>
<li><p>Kirkwood Community College-AA Legal Assistant, 1998</p></li>
</ul>
<p>SHINY APPLICATIONS</p>
<p><a href="https://tidydatabykwg57.shinyapps.io/flabsences/">Florida School Absences</a></p>
</div>
</div>
<div id="work-history" class="section level1">
<h1>Work History</h1>
<div id="htmlwidget-1" class="timevis html-widget" style="width:1000px;height:480px;">
<div class="btn-group zoom-menu">
<button type="button" class="btn btn-default btn-lg zoom-in" title="Zoom in">+</button>
<button type="button" class="btn btn-default btn-lg zoom-out" title="Zoom out">-</button>
</div>
</div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"items":[{"id":"1","content":"Senior Connection Center","start":"2013-07-13"},{"id":"2","content":"Evaluation Consultant","start":"2013-09-01"},{"id":"3","content":"Girl Scouts of WCF","start":"2011-07-08"},{"id":"4","content":"Career Source Pinellas","start":"2011-01-10"},{"id":"5","content":"Cby25 Initiative","start":"2010-01-08"},{"id":"6","content":"Camelot Community Care","start":"2007-04-07"}],"groups":null,"showZoom":false,"zoomFactor":0.5,"fit":true,"options":[],"height":null,"api":[]},"evals":[],"jsHooks":[]}</script>
</div>
