---
title: Gather in the Wild
author: Kevin
date: '2018-10-11'
slug: gather-in-the-wild
categories:
  - R
tags:
   ["tidyverse", "gather", "education data"]
header:
  caption: ''
  image: ''
---



<p>The <a href="http://www.fldoe.org/accountability/accountability-reporting/school-grades/">Florida Deparment of Education</a> links to Excel files on their website with school grade information. The file of interest contains data on testing performance, school grades that range from 1999-through 2018, and other information about individual schools.</p>
<p>For this post, I am interested in the school grades that range from 2018 through 1999. The data is in a wide format and a great tool for this job is the <a href="https://tidyr.tidyverse.org/reference/gather.html">gather function</a> in the <a href="https://tidyr.tidyverse.org/index.html">tidyr package</a>.</p>
<p>I tend to forget how to use the gather function so I wanted some practice using it.</p>
<p>After gathering the data I am going to use the <a href="https://github.com/sfirke/janitor">janitor package</a> to summarize the data.</p>
<p>This chunk contains the link to the excel file.</p>
<pre class="r"><code>url_sg18 &lt;- &#39;http://www.fldoe.org/core/fileparse.php/18534/urlt/SchoolGrades18.xls&#39;</code></pre>
<p>Use the GET function from the httr package to process the file.</p>
<pre class="r"><code>GET(url_sg18, write_disk(school_grades &lt;- tempfile(fileext = &quot;.xls&quot;)))</code></pre>
<pre><code>## Response [http://www.fldoe.org/core/fileparse.php/18534/urlt/SchoolGrades18.xls]
##   Date: 2018-10-14 13:16
##   Status: 200
##   Content-Type: application/msexcel
##   Size: 2.13 MB
## &lt;ON DISK&gt;  /tmp/Rtmpd9KMOb/file77257c2cff1.xls</code></pre>
<p>Use <a href="https://readxl.tidyverse.org/">readxl</a> to read the data from the file and in this case we need to skip the first four lines.</p>
<pre class="r"><code>grades&lt;- read_excel(school_grades, skip = 4)</code></pre>
<p>Get a glimpse of the data that has been downloaded.</p>
<pre class="r"><code>glimpse(grades)</code></pre>
<pre><code>## Observations: 3,331
## Variables: 48
## $ `District Number`                                        &lt;chr&gt; &quot;01&quot;,...
## $ `District Name`                                          &lt;chr&gt; &quot;ALAC...
## $ `School Number`                                          &lt;chr&gt; &quot;0031...
## $ `School Name`                                            &lt;chr&gt; &quot;J. J...
## $ `English Language Arts Achievement`                      &lt;dbl&gt; 56, 6...
## $ `English Language Arts Learning Gains`                   &lt;dbl&gt; 57, 5...
## $ `English Language Arts Learning Gains of the Lowest 25%` &lt;dbl&gt; 32, 2...
## $ `Mathematics Achievement`                                &lt;dbl&gt; 55, 6...
## $ `Mathematics Learning Gains`                             &lt;dbl&gt; 52, 5...
## $ `Mathematics Learning Gains of the Lowest 25%`           &lt;dbl&gt; 33, 3...
## $ `Science Achievement`                                    &lt;dbl&gt; 60, 6...
## $ `Social Studies Achievement`                             &lt;dbl&gt; NA, N...
## $ `Middle School Acceleration`                             &lt;dbl&gt; NA, N...
## $ `Graduation Rate 2016-17`                                &lt;dbl&gt; NA, N...
## $ `College and Career Acceleration 2016-17`                &lt;dbl&gt; NA, N...
## $ `Total Points Earned`                                    &lt;dbl&gt; 345, ...
## $ `Total Components`                                       &lt;dbl&gt; 7, 7,...
## $ `Percent of Total Possible Points`                       &lt;dbl&gt; 49, 5...
## $ `Percent Tested`                                         &lt;dbl&gt; 100, ...
## $ `Grade 2018`                                             &lt;chr&gt; &quot;C&quot;, ...
## $ `Grade 2017`                                             &lt;chr&gt; &quot;B&quot;, ...
## $ `Grade 2016`                                             &lt;chr&gt; &quot;B&quot;, ...
## $ `Informational Baseline Grade 2015`                      &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2014`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2013`                                             &lt;chr&gt; &quot;B&quot;, ...
## $ `Grade 2012`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2011`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2010`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2009`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2008`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2007`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2006`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2005`                                             &lt;chr&gt; &quot;B&quot;, ...
## $ `Grade 2004`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2003`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2002`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2001`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 2000`                                             &lt;chr&gt; &quot;A&quot;, ...
## $ `Grade 1999`                                             &lt;chr&gt; &quot;B&quot;, ...
## $ `Was the collocated rule used?`                          &lt;chr&gt; &quot;N&quot;, ...
## $ `Collocated Number`                                      &lt;lgl&gt; NA, N...
## $ `Charter School`                                         &lt;chr&gt; &quot;NO&quot;,...
## $ `Title I`                                                &lt;chr&gt; &quot;YES&quot;...
## $ `Alternative/ESE Center School`                          &lt;chr&gt; &quot;N&quot;, ...
## $ `School Type`                                            &lt;chr&gt; &quot;01&quot;,...
## $ `Percent of Minority Students`                           &lt;dbl&gt; 65.6,...
## $ `Percent of Economically Disadvantaged Students`         &lt;dbl&gt; 81.3,...
## $ Region                                                   &lt;dbl&gt; 0, 0,...</code></pre>
<p>Make column names easier to work with clean_names function from the <a href="https://github.com/sfirke/janitor">janitor package</a>.</p>
<pre class="r"><code>grades &lt;- grades %&gt;%
  clean_names()</code></pre>
<p>I use the names function to give me a reference point at what numbered position each column name is at. This immediately helps my future self with select statements.</p>
<pre class="r"><code>names(grades)</code></pre>
<pre><code>##  [1] &quot;district_number&quot;                                              
##  [2] &quot;district_name&quot;                                                
##  [3] &quot;school_number&quot;                                                
##  [4] &quot;school_name&quot;                                                  
##  [5] &quot;english_language_arts_achievement&quot;                            
##  [6] &quot;english_language_arts_learning_gains&quot;                         
##  [7] &quot;english_language_arts_learning_gains_of_the_lowest_25_percent&quot;
##  [8] &quot;mathematics_achievement&quot;                                      
##  [9] &quot;mathematics_learning_gains&quot;                                   
## [10] &quot;mathematics_learning_gains_of_the_lowest_25_percent&quot;          
## [11] &quot;science_achievement&quot;                                          
## [12] &quot;social_studies_achievement&quot;                                   
## [13] &quot;middle_school_acceleration&quot;                                   
## [14] &quot;graduation_rate_2016_17&quot;                                      
## [15] &quot;college_and_career_acceleration_2016_17&quot;                      
## [16] &quot;total_points_earned&quot;                                          
## [17] &quot;total_components&quot;                                             
## [18] &quot;percent_of_total_possible_points&quot;                             
## [19] &quot;percent_tested&quot;                                               
## [20] &quot;grade_2018&quot;                                                   
## [21] &quot;grade_2017&quot;                                                   
## [22] &quot;grade_2016&quot;                                                   
## [23] &quot;informational_baseline_grade_2015&quot;                            
## [24] &quot;grade_2014&quot;                                                   
## [25] &quot;grade_2013&quot;                                                   
## [26] &quot;grade_2012&quot;                                                   
## [27] &quot;grade_2011&quot;                                                   
## [28] &quot;grade_2010&quot;                                                   
## [29] &quot;grade_2009&quot;                                                   
## [30] &quot;grade_2008&quot;                                                   
## [31] &quot;grade_2007&quot;                                                   
## [32] &quot;grade_2006&quot;                                                   
## [33] &quot;grade_2005&quot;                                                   
## [34] &quot;grade_2004&quot;                                                   
## [35] &quot;grade_2003&quot;                                                   
## [36] &quot;grade_2002&quot;                                                   
## [37] &quot;grade_2001&quot;                                                   
## [38] &quot;grade_2000&quot;                                                   
## [39] &quot;grade_1999&quot;                                                   
## [40] &quot;was_the_collocated_rule_used&quot;                                 
## [41] &quot;collocated_number&quot;                                            
## [42] &quot;charter_school&quot;                                               
## [43] &quot;title_i&quot;                                                      
## [44] &quot;alternative_ese_center_school&quot;                                
## [45] &quot;school_type&quot;                                                  
## [46] &quot;percent_of_minority_students&quot;                                 
## [47] &quot;percent_of_economically_disadvantaged_students&quot;               
## [48] &quot;region&quot;</code></pre>
<p>Use the select statement to narrow down the variables of interest. I am interested in the first 4 columns, columns 20:39, and column 45. Column 45 is school type and this may be interesting for analysis down the line</p>
<pre class="r"><code>grades_gather &lt;- grades %&gt;%
  select(1:4, 20:39, 45) </code></pre>
<p>Take a peak.</p>
<pre class="r"><code>head(grades_gather)</code></pre>
<pre><code>## # A tibble: 6 x 25
##   district_number district_name school_number school_name grade_2018
##   &lt;chr&gt;           &lt;chr&gt;         &lt;chr&gt;         &lt;chr&gt;       &lt;chr&gt;     
## 1 01              ALACHUA       0031          J. J. FINL… C         
## 2 01              ALACHUA       0041          STEPHEN FO… C         
## 3 01              ALACHUA       0071          LAKE FORES… D         
## 4 01              ALACHUA       0091          LITTLEWOOD… B         
## 5 01              ALACHUA       0101          W. A. METC… D         
## 6 01              ALACHUA       0111          JOSEPH WIL… C         
## # ... with 20 more variables: grade_2017 &lt;chr&gt;, grade_2016 &lt;chr&gt;,
## #   informational_baseline_grade_2015 &lt;chr&gt;, grade_2014 &lt;chr&gt;,
## #   grade_2013 &lt;chr&gt;, grade_2012 &lt;chr&gt;, grade_2011 &lt;chr&gt;,
## #   grade_2010 &lt;chr&gt;, grade_2009 &lt;chr&gt;, grade_2008 &lt;chr&gt;,
## #   grade_2007 &lt;chr&gt;, grade_2006 &lt;chr&gt;, grade_2005 &lt;chr&gt;,
## #   grade_2004 &lt;chr&gt;, grade_2003 &lt;chr&gt;, grade_2002 &lt;chr&gt;,
## #   grade_2001 &lt;chr&gt;, grade_2000 &lt;chr&gt;, grade_1999 &lt;chr&gt;,
## #   school_type &lt;chr&gt;</code></pre>
<p>Gather the columns up with the gather function. Here is the <a href="https://rpubs.com/bradleyboehmke/data_wrangling">tutorial</a> I used to help me clarify my approach</p>
<pre class="r"><code>grades_gather &lt;- grades_gather %&gt;%
  gather(year, grade, grade_2018:grade_1999, na.rm = TRUE)

tail(grades_gather)</code></pre>
<pre><code>## # A tibble: 6 x 7
##   district_number district_name school_number school_name school_type year 
##   &lt;chr&gt;           &lt;chr&gt;         &lt;chr&gt;         &lt;chr&gt;       &lt;chr&gt;       &lt;chr&gt;
## 1 67              WASHINGTON    0101          ROULHAC MI… 02          grad…
## 2 67              WASHINGTON    0151          VERNON ELE… 01          grad…
## 3 72              FAU LAB SCH   0011          A.D. HENDE… 04          grad…
## 4 73              FSU LAB SCH   0341          FLORIDA ST… 04          grad…
## 5 74              FAMU LAB SCH  0351          FLORIDA A&amp;… 04          grad…
## 6 75              UF LAB SCH    0391          P.K. YONGE… 04          grad…
## # ... with 1 more variable: grade &lt;chr&gt;</code></pre>
<p>A quick glimpse of the result indicates all 19 columns and their data value have been collapsed into two columns-year and grade. This will make it easier to perform an analysis on the data set.</p>
<p>Use the tabyl and adorn functions in the <a href="https://github.com/sfirke/janitor">janitor package</a> to summarize and kable to display the table.</p>
<pre class="r"><code>grades_gather_t &lt;- grades_gather %&gt;%
  tabyl(district_name,grade) %&gt;%
  adorn_percentages() %&gt;%
  adorn_pct_formatting()

kable(grades_gather_t)</code></pre>
<table>
<thead>
<tr class="header">
<th align="left">district_name</th>
<th align="left">A</th>
<th align="left">B</th>
<th align="left">C</th>
<th align="left">D</th>
<th align="left">F</th>
<th align="left">I</th>
<th align="left">N</th>
<th align="left">P</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">302 - K12 FLORIDA, LLC</td>
<td align="left">12.5%</td>
<td align="left">50.0%</td>
<td align="left">25.0%</td>
<td align="left">12.5%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">309 - EDGENUITY</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">100.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">313 - DISTRICT VIP - FLORIDA CONNECTIONS ACADEMY</td>
<td align="left">100.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">ALACHUA</td>
<td align="left">42.3%</td>
<td align="left">25.1%</td>
<td align="left">19.9%</td>
<td align="left">9.3%</td>
<td align="left">2.6%</td>
<td align="left">0.1%</td>
<td align="left">0.4%</td>
<td align="left">0.3%</td>
</tr>
<tr class="odd">
<td align="left">BAKER</td>
<td align="left">21.7%</td>
<td align="left">17.4%</td>
<td align="left">46.4%</td>
<td align="left">13.0%</td>
<td align="left">0.0%</td>
<td align="left">1.4%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">BAY</td>
<td align="left">40.8%</td>
<td align="left">20.9%</td>
<td align="left">27.8%</td>
<td align="left">8.5%</td>
<td align="left">1.6%</td>
<td align="left">0.0%</td>
<td align="left">0.5%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">BRADFORD</td>
<td align="left">13.6%</td>
<td align="left">22.7%</td>
<td align="left">53.8%</td>
<td align="left">9.1%</td>
<td align="left">0.8%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">BREVARD</td>
<td align="left">62.2%</td>
<td align="left">18.9%</td>
<td align="left">15.5%</td>
<td align="left">2.5%</td>
<td align="left">0.5%</td>
<td align="left">0.0%</td>
<td align="left">0.4%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">BROWARD</td>
<td align="left">43.6%</td>
<td align="left">19.0%</td>
<td align="left">26.4%</td>
<td align="left">8.3%</td>
<td align="left">2.1%</td>
<td align="left">0.1%</td>
<td align="left">0.6%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">CALHOUN</td>
<td align="left">46.0%</td>
<td align="left">37.0%</td>
<td align="left">15.0%</td>
<td align="left">2.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">CHARLOTTE</td>
<td align="left">49.6%</td>
<td align="left">30.1%</td>
<td align="left">18.9%</td>
<td align="left">1.4%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">CITRUS</td>
<td align="left">47.7%</td>
<td align="left">30.2%</td>
<td align="left">20.4%</td>
<td align="left">1.4%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">CLAY</td>
<td align="left">53.1%</td>
<td align="left">27.3%</td>
<td align="left">17.7%</td>
<td align="left">1.4%</td>
<td align="left">0.0%</td>
<td align="left">0.1%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">COLLIER</td>
<td align="left">43.1%</td>
<td align="left">18.3%</td>
<td align="left">26.4%</td>
<td align="left">9.4%</td>
<td align="left">2.2%</td>
<td align="left">0.0%</td>
<td align="left">0.6%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">COLUMBIA</td>
<td align="left">32.1%</td>
<td align="left">20.7%</td>
<td align="left">37.4%</td>
<td align="left">7.3%</td>
<td align="left">0.8%</td>
<td align="left">0.0%</td>
<td align="left">1.6%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">DESOTO</td>
<td align="left">11.0%</td>
<td align="left">16.0%</td>
<td align="left">47.0%</td>
<td align="left">22.0%</td>
<td align="left">4.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">DIXIE</td>
<td align="left">22.5%</td>
<td align="left">22.5%</td>
<td align="left">46.2%</td>
<td align="left">8.8%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">DUVAL</td>
<td align="left">31.0%</td>
<td align="left">18.0%</td>
<td align="left">32.6%</td>
<td align="left">14.8%</td>
<td align="left">3.3%</td>
<td align="left">0.1%</td>
<td align="left">0.2%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">ESCAMBIA</td>
<td align="left">29.7%</td>
<td align="left">20.4%</td>
<td align="left">34.2%</td>
<td align="left">12.5%</td>
<td align="left">3.0%</td>
<td align="left">0.0%</td>
<td align="left">0.2%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">FAMU LAB SCH</td>
<td align="left">0.0%</td>
<td align="left">5.0%</td>
<td align="left">55.0%</td>
<td align="left">35.0%</td>
<td align="left">5.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">FAU LAB SCH</td>
<td align="left">96.7%</td>
<td align="left">3.3%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">FL VIRTUAL</td>
<td align="left">7.7%</td>
<td align="left">53.8%</td>
<td align="left">38.5%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">FLAGLER</td>
<td align="left">45.2%</td>
<td align="left">35.0%</td>
<td align="left">15.3%</td>
<td align="left">3.4%</td>
<td align="left">1.1%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">FRANKLIN</td>
<td align="left">25.0%</td>
<td align="left">16.7%</td>
<td align="left">44.4%</td>
<td align="left">13.9%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">FSU LAB SCH</td>
<td align="left">97.1%</td>
<td align="left">2.9%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">GADSDEN</td>
<td align="left">19.3%</td>
<td align="left">11.0%</td>
<td align="left">25.4%</td>
<td align="left">28.7%</td>
<td align="left">13.3%</td>
<td align="left">0.0%</td>
<td align="left">1.1%</td>
<td align="left">1.1%</td>
</tr>
<tr class="odd">
<td align="left">GILCHRIST</td>
<td align="left">65.0%</td>
<td align="left">25.0%</td>
<td align="left">8.8%</td>
<td align="left">1.2%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">GLADES</td>
<td align="left">15.1%</td>
<td align="left">30.1%</td>
<td align="left">46.6%</td>
<td align="left">8.2%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">GULF</td>
<td align="left">20.0%</td>
<td align="left">36.2%</td>
<td align="left">38.8%</td>
<td align="left">3.8%</td>
<td align="left">1.2%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">HAMILTON</td>
<td align="left">7.5%</td>
<td align="left">12.5%</td>
<td align="left">25.0%</td>
<td align="left">50.0%</td>
<td align="left">5.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">HARDEE</td>
<td align="left">23.4%</td>
<td align="left">25.0%</td>
<td align="left">38.3%</td>
<td align="left">11.7%</td>
<td align="left">0.8%</td>
<td align="left">0.0%</td>
<td align="left">0.8%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">HENDRY</td>
<td align="left">14.1%</td>
<td align="left">22.4%</td>
<td align="left">45.3%</td>
<td align="left">14.6%</td>
<td align="left">3.1%</td>
<td align="left">0.0%</td>
<td align="left">0.5%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">HERNANDO</td>
<td align="left">28.2%</td>
<td align="left">30.9%</td>
<td align="left">35.2%</td>
<td align="left">5.3%</td>
<td align="left">0.2%</td>
<td align="left">0.0%</td>
<td align="left">0.2%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">HIGHLANDS</td>
<td align="left">18.6%</td>
<td align="left">23.5%</td>
<td align="left">46.3%</td>
<td align="left">11.3%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">HILLSBOROUGH</td>
<td align="left">38.2%</td>
<td align="left">20.8%</td>
<td align="left">29.5%</td>
<td align="left">9.0%</td>
<td align="left">1.8%</td>
<td align="left">0.0%</td>
<td align="left">0.7%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">HOLMES</td>
<td align="left">5.0%</td>
<td align="left">26.7%</td>
<td align="left">58.4%</td>
<td align="left">9.9%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">INDIAN RIVER</td>
<td align="left">45.7%</td>
<td align="left">23.5%</td>
<td align="left">25.9%</td>
<td align="left">3.3%</td>
<td align="left">0.5%</td>
<td align="left">0.5%</td>
<td align="left">0.7%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">JACKSON</td>
<td align="left">29.1%</td>
<td align="left">29.1%</td>
<td align="left">39.5%</td>
<td align="left">2.3%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">JEFFERSON</td>
<td align="left">0.0%</td>
<td align="left">2.5%</td>
<td align="left">30.0%</td>
<td align="left">35.0%</td>
<td align="left">30.0%</td>
<td align="left">2.5%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">LAFAYETTE</td>
<td align="left">20.0%</td>
<td align="left">52.5%</td>
<td align="left">27.5%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">LAKE</td>
<td align="left">32.0%</td>
<td align="left">31.3%</td>
<td align="left">30.7%</td>
<td align="left">4.4%</td>
<td align="left">0.6%</td>
<td align="left">0.0%</td>
<td align="left">0.9%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">LEE</td>
<td align="left">43.4%</td>
<td align="left">24.4%</td>
<td align="left">26.7%</td>
<td align="left">4.3%</td>
<td align="left">0.8%</td>
<td align="left">0.0%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">LEON</td>
<td align="left">47.5%</td>
<td align="left">20.1%</td>
<td align="left">24.7%</td>
<td align="left">6.5%</td>
<td align="left">0.8%</td>
<td align="left">0.0%</td>
<td align="left">0.4%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">LEVY</td>
<td align="left">19.4%</td>
<td align="left">31.2%</td>
<td align="left">40.9%</td>
<td align="left">7.0%</td>
<td align="left">1.1%</td>
<td align="left">0.0%</td>
<td align="left">0.5%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">LIBERTY</td>
<td align="left">25.0%</td>
<td align="left">35.0%</td>
<td align="left">31.7%</td>
<td align="left">8.3%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">MADISON</td>
<td align="left">18.4%</td>
<td align="left">18.4%</td>
<td align="left">28.6%</td>
<td align="left">20.4%</td>
<td align="left">11.2%</td>
<td align="left">0.0%</td>
<td align="left">2.0%</td>
<td align="left">1.0%</td>
</tr>
<tr class="odd">
<td align="left">MANATEE</td>
<td align="left">33.6%</td>
<td align="left">24.4%</td>
<td align="left">29.4%</td>
<td align="left">9.7%</td>
<td align="left">2.1%</td>
<td align="left">0.1%</td>
<td align="left">0.4%</td>
<td align="left">0.3%</td>
</tr>
<tr class="even">
<td align="left">MARION</td>
<td align="left">29.5%</td>
<td align="left">22.3%</td>
<td align="left">35.3%</td>
<td align="left">10.8%</td>
<td align="left">1.6%</td>
<td align="left">0.0%</td>
<td align="left">0.4%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">MARTIN</td>
<td align="left">61.2%</td>
<td align="left">21.7%</td>
<td align="left">15.0%</td>
<td align="left">2.1%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">MIAMI-DADE</td>
<td align="left">41.4%</td>
<td align="left">17.4%</td>
<td align="left">26.2%</td>
<td align="left">12.1%</td>
<td align="left">2.4%</td>
<td align="left">0.2%</td>
<td align="left">0.4%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">MONROE</td>
<td align="left">57.4%</td>
<td align="left">27.7%</td>
<td align="left">14.9%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">NASSAU</td>
<td align="left">59.4%</td>
<td align="left">26.6%</td>
<td align="left">12.7%</td>
<td align="left">1.3%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">OKALOOSA</td>
<td align="left">72.1%</td>
<td align="left">18.1%</td>
<td align="left">9.1%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
<td align="left">0.1%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">OKEECHOBEE</td>
<td align="left">20.6%</td>
<td align="left">25.0%</td>
<td align="left">46.9%</td>
<td align="left">6.9%</td>
<td align="left">0.6%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">ORANGE</td>
<td align="left">42.2%</td>
<td align="left">19.8%</td>
<td align="left">27.1%</td>
<td align="left">8.9%</td>
<td align="left">1.7%</td>
<td align="left">0.0%</td>
<td align="left">0.4%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">OSCEOLA</td>
<td align="left">29.6%</td>
<td align="left">22.4%</td>
<td align="left">37.9%</td>
<td align="left">8.2%</td>
<td align="left">0.6%</td>
<td align="left">0.1%</td>
<td align="left">1.2%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">PALM BEACH</td>
<td align="left">47.0%</td>
<td align="left">18.6%</td>
<td align="left">24.6%</td>
<td align="left">7.9%</td>
<td align="left">1.2%</td>
<td align="left">0.0%</td>
<td align="left">0.7%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">PASCO</td>
<td align="left">33.8%</td>
<td align="left">23.6%</td>
<td align="left">33.0%</td>
<td align="left">8.1%</td>
<td align="left">0.9%</td>
<td align="left">0.0%</td>
<td align="left">0.6%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">PINELLAS</td>
<td align="left">40.7%</td>
<td align="left">21.4%</td>
<td align="left">29.1%</td>
<td align="left">6.8%</td>
<td align="left">2.0%</td>
<td align="left">0.0%</td>
<td align="left">0.1%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">POLK</td>
<td align="left">28.0%</td>
<td align="left">20.8%</td>
<td align="left">37.4%</td>
<td align="left">11.7%</td>
<td align="left">1.6%</td>
<td align="left">0.1%</td>
<td align="left">0.5%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">PUTNAM</td>
<td align="left">17.1%</td>
<td align="left">15.6%</td>
<td align="left">47.6%</td>
<td align="left">15.6%</td>
<td align="left">3.8%</td>
<td align="left">0.0%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">SANTA ROSA</td>
<td align="left">62.8%</td>
<td align="left">21.5%</td>
<td align="left">13.7%</td>
<td align="left">1.2%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.8%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">SARASOTA</td>
<td align="left">61.3%</td>
<td align="left">22.1%</td>
<td align="left">15.3%</td>
<td align="left">0.8%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.5%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">SEMINOLE</td>
<td align="left">60.5%</td>
<td align="left">24.0%</td>
<td align="left">12.4%</td>
<td align="left">2.5%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
<td align="left">0.4%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">ST. JOHNS</td>
<td align="left">65.8%</td>
<td align="left">17.3%</td>
<td align="left">14.0%</td>
<td align="left">1.7%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
<td align="left">0.5%</td>
<td align="left">0.3%</td>
</tr>
<tr class="even">
<td align="left">ST. LUCIE</td>
<td align="left">23.7%</td>
<td align="left">26.3%</td>
<td align="left">38.1%</td>
<td align="left">10.2%</td>
<td align="left">1.7%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">SUMTER</td>
<td align="left">41.1%</td>
<td align="left">25.9%</td>
<td align="left">28.5%</td>
<td align="left">3.8%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.6%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">SUWANNEE</td>
<td align="left">8.6%</td>
<td align="left">27.6%</td>
<td align="left">55.2%</td>
<td align="left">7.6%</td>
<td align="left">0.0%</td>
<td align="left">1.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">TAYLOR</td>
<td align="left">11.2%</td>
<td align="left">16.2%</td>
<td align="left">56.2%</td>
<td align="left">12.5%</td>
<td align="left">3.8%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">UF LAB SCH</td>
<td align="left">85.0%</td>
<td align="left">15.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">UNION</td>
<td align="left">33.3%</td>
<td align="left">35.0%</td>
<td align="left">28.3%</td>
<td align="left">3.3%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">VOLUSIA</td>
<td align="left">40.6%</td>
<td align="left">27.3%</td>
<td align="left">27.2%</td>
<td align="left">4.3%</td>
<td align="left">0.3%</td>
<td align="left">0.1%</td>
<td align="left">0.3%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">WAKULLA</td>
<td align="left">56.9%</td>
<td align="left">22.9%</td>
<td align="left">14.6%</td>
<td align="left">4.2%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">1.4%</td>
<td align="left">0.0%</td>
</tr>
<tr class="even">
<td align="left">WALTON</td>
<td align="left">49.8%</td>
<td align="left">28.7%</td>
<td align="left">18.3%</td>
<td align="left">2.8%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.4%</td>
<td align="left">0.0%</td>
</tr>
<tr class="odd">
<td align="left">WASHINGTON</td>
<td align="left">20.0%</td>
<td align="left">34.2%</td>
<td align="left">40.8%</td>
<td align="left">5.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
<td align="left">0.0%</td>
</tr>
</tbody>
</table>
