---
title: Strings
author: Kevin
date: '2018-12-02'
slug: strings
categories:
  - R
tags:
  - chromebook data science
  - stringr
header:
  caption: ''
  image: ''
---

<script src="/rmarkdown-libs/htmlwidgets/htmlwidgets.js"></script>
<link href="/rmarkdown-libs/str_view/str_view.css" rel="stylesheet" />
<script src="/rmarkdown-libs/str_view-binding/str_view.js"></script>


<p>Working with strings/characters is not a strong point of mine.</p>
<div id="notes-from-data-camp" class="section level2">
<h2>Notes from Data Camp</h2>
<p>Using quotes and backspaces.</p>
<pre class="r"><code>line3 &lt;- &quot;\&quot;There&#39;s plenty of room!\&quot; said Alice indignantly, and she sat down in a large arm-chair at one end of the table.&quot;</code></pre>
<p>Below are copied chunks from <strong>Working with Strings</strong> in the <em>Data Tidying</em> course from <a href="http://jhudatascience.org/chromebookdatascience/index.html">Data Science with a Chromebook</a></p>
<pre class="r"><code>install.packages(&quot;stringr&quot;)</code></pre>
<pre><code>## Installing package into &#39;/home/rstudio-user/R/x86_64-pc-linux-gnu-library/3.5&#39;
## (as &#39;lib&#39; is unspecified)</code></pre>
<pre class="r"><code># load package into R
library(stringr)</code></pre>
<p>What to do with strings</p>
<ol style="list-style-type: decimal">
<li><p>Length</p></li>
<li><p>Combine strings</p></li>
<li><p>Subset strings</p></li>
</ol>
<p>Length of Strings</p>
<pre class="r"><code>objectA &lt;- c( &quot;This sentence is a string.&quot;, &quot;Short String&quot;, &quot;Third string&quot; )

str_length(objectA)</code></pre>
<pre><code>## [1] 26 12 12</code></pre>
<p>Combine strings</p>
<pre class="r"><code>str_c( &quot;Good&quot;, &quot;Morning&quot;)</code></pre>
<pre><code>## [1] &quot;GoodMorning&quot;</code></pre>
<pre class="r"><code>str_c( &quot;Good&quot;, &quot;Morning&quot;, sep=&quot; &quot;)</code></pre>
<pre><code>## [1] &quot;Good Morning&quot;</code></pre>
<p>Subset Strings</p>
<pre class="r"><code>object &lt;- c( &quot;Good&quot;, &quot;Morning&quot;)

str_sub(object, 1, 3)</code></pre>
<pre><code>## [1] &quot;Goo&quot; &quot;Mor&quot;</code></pre>
<p>String Sorting</p>
<pre class="r"><code>names &lt;- c(&quot;Keisha&quot;, &quot;Mohammed&quot;, &quot;Jane&quot;)

str_sort(names)</code></pre>
<pre><code>## [1] &quot;Jane&quot;     &quot;Keisha&quot;   &quot;Mohammed&quot;</code></pre>
<div id="stringr-functions" class="section level4">
<h4>StringR functions</h4>
<ul>
<li><p>str_view()</p></li>
<li><p>str_view_all()</p></li>
<li><p>str_count()</p></li>
<li><p>str_detect()</p></li>
<li><p>str_subset()</p></li>
<li><p>str_extract()</p></li>
<li><p>str_replace()</p></li>
</ul>
</div>
<div id="str_view" class="section level4">
<h4>Str_view()</h4>
<pre class="r"><code>names &lt;- c(&quot;Keisha&quot;, &quot;Mohammed&quot;, &quot;Jane&quot;, &quot;Mathieu&quot;)

## identify strings that start with &quot;M&quot;
str_view(names, &quot;^M&quot;)</code></pre>
<div id="htmlwidget-1" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-1">{"x":{"html":"<ul>\n  <li>Keisha<\/li>\n  <li><span class='match'>M<\/span>ohammed<\/li>\n  <li>Jane<\/li>\n  <li><span class='match'>M<\/span>athieu<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<pre class="r"><code>## identify strings that end with &quot;M&quot;
str_view(names, &quot;M$&quot;)</code></pre>
<div id="htmlwidget-2" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-2">{"x":{"html":"<ul>\n  <li>Keisha<\/li>\n  <li>Mohammed<\/li>\n  <li>Jane<\/li>\n  <li>Mathieu<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<pre class="r"><code>## identify strings that end with &quot;A&quot;
str_view(names, &quot;A$&quot;)</code></pre>
<div id="htmlwidget-3" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-3">{"x":{"html":"<ul>\n  <li>Keisha<\/li>\n  <li>Mohammed<\/li>\n  <li>Jane<\/li>\n  <li>Mathieu<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<div id="count-matches-str_count" class="section level5">
<h5>Count matches: str_count()</h5>
<pre class="r"><code>## identify strings that start with &quot;M&quot;
## return count of the number of times string matches pattern
str_count(names, &quot;^M&quot;)</code></pre>
<pre><code>## [1] 0 1 0 1</code></pre>
<pre class="r"><code>## identify strings that have a lowercase &quot;m&quot;
## return count of the number of times string matches pattern
str_count(names, &quot;m&quot;)</code></pre>
<pre><code>## [1] 0 2 0 0</code></pre>
</div>
</div>
<div id="detect-matches-str_detect" class="section level4">
<h4>Detect matches: str_detect()</h4>
<pre class="r"><code>## identify strings that start with &quot;M&quot;
## return TRUE if they do; FALSE otherwise
str_detect(names, &quot;^M&quot;)</code></pre>
<pre><code>## [1] FALSE  TRUE FALSE  TRUE</code></pre>
</div>
<div id="subset-matches-str_subset" class="section level4">
<h4>Subset matches: str_subset()</h4>
<pre class="r"><code>## identify strings that start with &quot;M&quot;
## return whole string
str_subset(names, &quot;^M&quot;)</code></pre>
<pre><code>## [1] &quot;Mohammed&quot; &quot;Mathieu&quot;</code></pre>
</div>
<div id="extract-matches-str_extract" class="section level4">
<h4>Extract matches: str_extract()</h4>
<pre class="r"><code>## return &quot;M&quot; from strings with &quot;M&quot; in it
## otherwise, return NA
str_extract(names, &quot;^M&quot;)</code></pre>
<pre><code>## [1] NA  &quot;M&quot; NA  &quot;M&quot;</code></pre>
</div>
<div id="replace-matches-str_replace" class="section level4">
<h4>Replace matches: str_replace()</h4>
<pre class="r"><code>## replace capital M with a question mark
str_replace(names, &quot;^M&quot;, &quot;?&quot;)</code></pre>
<pre><code>## [1] &quot;Keisha&quot;   &quot;?ohammed&quot; &quot;Jane&quot;     &quot;?athieu&quot;</code></pre>
</div>
<div id="regular-expressions" class="section level3">
<h3>Regular Expressions</h3>
<div id="anchors" class="section level4">
<h4>Anchors</h4>
<ul>
<li><p>^ start</p></li>
<li><p>$ end</p></li>
<li><p>[] Searching for characters</p></li>
</ul>
<pre class="r"><code>## identify all lowercase vowels
str_view_all(names, &quot;[aeiou]&quot;)</code></pre>
<div id="htmlwidget-4" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-4">{"x":{"html":"<ul>\n  <li>K<span class='match'>e<\/span><span class='match'>i<\/span>sh<span class='match'>a<\/span><\/li>\n  <li>M<span class='match'>o<\/span>h<span class='match'>a<\/span>mm<span class='match'>e<\/span>d<\/li>\n  <li>J<span class='match'>a<\/span>n<span class='match'>e<\/span><\/li>\n  <li>M<span class='match'>a<\/span>th<span class='match'>i<\/span><span class='match'>e<\/span><span class='match'>u<\/span><\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<ul>
<li>[^]Searching for anything other than a set of characters</li>
</ul>
<pre class="r"><code>## identify anything that&#39;s NOT a lowercase vowel
str_view_all(names, &quot;[^aeiou]&quot;)</code></pre>
<div id="htmlwidget-5" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-5">{"x":{"html":"<ul>\n  <li><span class='match'>K<\/span>ei<span class='match'>s<\/span><span class='match'>h<\/span>a<\/li>\n  <li><span class='match'>M<\/span>o<span class='match'>h<\/span>a<span class='match'>m<\/span><span class='match'>m<\/span>e<span class='match'>d<\/span><\/li>\n  <li><span class='match'>J<\/span>a<span class='match'>n<\/span>e<\/li>\n  <li><span class='match'>M<\/span>a<span class='match'>t<\/span><span class='match'>h<\/span>ieu<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<ul>
<li>Search for digits (in R need another back slash to escape “//” )</li>
</ul>
<pre class="r"><code>addresses &lt;- c(&quot;1234 Main Street&quot;, &quot;1600 Pennsylvania Ave&quot;, &quot;Brick Building&quot;)

## identify anything that&#39;s a digit
str_view_all(addresses, &quot;\\d&quot;)</code></pre>
<div id="htmlwidget-6" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-6">{"x":{"html":"<ul>\n  <li><span class='match'>1<\/span><span class='match'>2<\/span><span class='match'>3<\/span><span class='match'>4<\/span> Main Street<\/li>\n  <li><span class='match'>1<\/span><span class='match'>6<\/span><span class='match'>0<\/span><span class='match'>0<\/span> Pennsylvania Ave<\/li>\n  <li>Brick Building<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<ul>
<li>/s Search for whitespace (in R need another back slash to escape “//” )</li>
</ul>
<pre class="r"><code>## identify any whitespace
str_view_all(addresses, &quot;\\s&quot;)</code></pre>
<div id="htmlwidget-7" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-7">{"x":{"html":"<ul>\n  <li>1234<span class='match'> <\/span>Main<span class='match'> <\/span>Street<\/li>\n  <li>1600<span class='match'> <\/span>Pennsylvania<span class='match'> <\/span>Ave<\/li>\n  <li>Brick<span class='match'> <\/span>Building<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<ul>
<li>“.” Identify any character (except newline)</li>
</ul>
<pre class="r"><code>## identify any character
str_view_all(addresses, &quot;.&quot;)</code></pre>
<div id="htmlwidget-8" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-8">{"x":{"html":"<ul>\n  <li><span class='match'>1<\/span><span class='match'>2<\/span><span class='match'>3<\/span><span class='match'>4<\/span><span class='match'> <\/span><span class='match'>M<\/span><span class='match'>a<\/span><span class='match'>i<\/span><span class='match'>n<\/span><span class='match'> <\/span><span class='match'>S<\/span><span class='match'>t<\/span><span class='match'>r<\/span><span class='match'>e<\/span><span class='match'>e<\/span><span class='match'>t<\/span><\/li>\n  <li><span class='match'>1<\/span><span class='match'>6<\/span><span class='match'>0<\/span><span class='match'>0<\/span><span class='match'> <\/span><span class='match'>P<\/span><span class='match'>e<\/span><span class='match'>n<\/span><span class='match'>n<\/span><span class='match'>s<\/span><span class='match'>y<\/span><span class='match'>l<\/span><span class='match'>v<\/span><span class='match'>a<\/span><span class='match'>n<\/span><span class='match'>i<\/span><span class='match'>a<\/span><span class='match'> <\/span><span class='match'>A<\/span><span class='match'>v<\/span><span class='match'>e<\/span><\/li>\n  <li><span class='match'>B<\/span><span class='match'>r<\/span><span class='match'>i<\/span><span class='match'>c<\/span><span class='match'>k<\/span><span class='match'> <\/span><span class='match'>B<\/span><span class='match'>u<\/span><span class='match'>i<\/span><span class='match'>l<\/span><span class='match'>d<\/span><span class='match'>i<\/span><span class='match'>n<\/span><span class='match'>g<\/span><\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
</div>
</div>
<div id="repetition-within-regular-expressions" class="section level3">
<h3>Repetition within regular expressions</h3>
<ul>
<li><p>? : 0 or 1</p></li>
<li><ul>
<li>: 1 or more</li>
</ul></li>
<li><p>/*: 0 or more</p></li>
<li><p>{n}: exactly n times</p></li>
<li><p>{n,}: n or more times</p></li>
</ul>
<pre class="r"><code>## identify any time n shows up one or more times
str_view_all(addresses, &quot;n+&quot;)</code></pre>
<div id="htmlwidget-9" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-9">{"x":{"html":"<ul>\n  <li>1234 Mai<span class='match'>n<\/span> Street<\/li>\n  <li>1600 Pe<span class='match'>nn<\/span>sylva<span class='match'>n<\/span>ia Ave<\/li>\n  <li>Brick Buildi<span class='match'>n<\/span>g<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<ul>
<li>{n,m} : between n and m times</li>
</ul>
<pre class="r"><code>## identify any time n shows up
str_view_all(addresses, &quot;n{1}&quot;)</code></pre>
<div id="htmlwidget-10" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-10">{"x":{"html":"<ul>\n  <li>1234 Mai<span class='match'>n<\/span> Street<\/li>\n  <li>1600 Pe<span class='match'>n<\/span><span class='match'>n<\/span>sylva<span class='match'>n<\/span>ia Ave<\/li>\n  <li>Brick Buildi<span class='match'>n<\/span>g<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<pre class="r"><code>## identify any time n shows up exactly two times in a row
str_view_all(addresses, &quot;n{2}&quot;)</code></pre>
<div id="htmlwidget-11" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-11">{"x":{"html":"<ul>\n  <li>1234 Main Street<\/li>\n  <li>1600 Pe<span class='match'>nn<\/span>sylvania Ave<\/li>\n  <li>Brick Building<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<pre class="r"><code>## identify any time &#39;nn&#39; shows up one or more times 
str_view_all(addresses, &quot;nn+&quot;)</code></pre>
<div id="htmlwidget-12" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-12">{"x":{"html":"<ul>\n  <li>1234 Main Street<\/li>\n  <li>1600 Pe<span class='match'>nn<\/span>sylvania Ave<\/li>\n  <li>Brick Building<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<pre class="r"><code>## identify any time n shows up two or three times 
str_view_all(addresses, &quot;n{2,3}&quot;)</code></pre>
<div id="htmlwidget-13" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-13">{"x":{"html":"<ul>\n  <li>1234 Main Street<\/li>\n  <li>1600 Pe<span class='match'>nn<\/span>sylvania Ave<\/li>\n  <li>Brick Building<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
<pre class="r"><code>## identify any time n shows up three or four times 
str_view_all(addresses, &quot;n{3,4}&quot;)</code></pre>
<div id="htmlwidget-14" style="width:960px;height:100%;" class="str_view html-widget"></div>
<script type="application/json" data-for="htmlwidget-14">{"x":{"html":"<ul>\n  <li>1234 Main Street<\/li>\n  <li>1600 Pennsylvania Ave<\/li>\n  <li>Brick Building<\/li>\n<\/ul>"},"evals":[],"jsHooks":[]}</script>
</div>
</div>
