---
title: Custom ggplots
author: Kevin
date: '2018-12-21'
slug: custom-ggplots
categories:
  - R
tags:
  - chromebook data science
header:
  caption: ''
  image: ''
---



<p>This post is going to work through the examples in the Customization in ggplot2.</p>
<pre class="r"><code>library(ggplot2)</code></pre>
<pre class="r"><code>ggplot(data = diamonds) + 
  geom_bar(mapping = aes(x = clarity))</code></pre>
<p><img src="/post/2018-12-21-custom-ggplots_files/figure-html/unnamed-chunk-2-1.png" width="672" /></p>
<pre class="r"><code>ggplot(data = diamonds) + 
  geom_bar(mapping = aes(x = clarity, color = clarity))</code></pre>
<p><img src="/post/2018-12-21-custom-ggplots_files/figure-html/unnamed-chunk-3-1.png" width="672" /></p>
<pre class="r"><code>ggplot(data = diamonds) + 
  geom_bar(mapping = aes(x = clarity, fill = cut))</code></pre>
<p><img src="/post/2018-12-21-custom-ggplots_files/figure-html/unnamed-chunk-4-1.png" width="672" /></p>
<pre class="r"><code>ggplot(data = diamonds) + 
  geom_bar(mapping = aes(x = clarity, fill = cut)) +
  scale_fill_manual(values = c(&quot;red&quot;, &quot;orange&quot;, &quot;darkgreen&quot;, &quot;dodgerblue&quot;, &quot;purple4&quot;
))</code></pre>
<p><img src="/post/2018-12-21-custom-ggplots_files/figure-html/unnamed-chunk-5-1.png" width="672" /></p>
<pre class="r"><code>ggplot(data = diamonds) + 
  geom_bar(mapping = aes(x = clarity, fill = cut), position = &quot;fill&quot;) +
  scale_fill_manual(values = c(&quot;red&quot;, &quot;orange&quot;, &quot;darkgreen&quot;, &quot;dodgerblue&quot;, &quot;purple4&quot;
))</code></pre>
<p><img src="/post/2018-12-21-custom-ggplots_files/figure-html/unnamed-chunk-6-1.png" width="672" /></p>
<pre class="r"><code>ggplot(data = diamonds) + 
  geom_bar(mapping = aes(x = clarity, fill = cut), position = &quot;dodge&quot;) +
  scale_fill_manual(values = c(&quot;red&quot;, &quot;orange&quot;, &quot;darkgreen&quot;, &quot;dodgerblue&quot;, &quot;purple4&quot;
))</code></pre>
<p><img src="/post/2018-12-21-custom-ggplots_files/figure-html/unnamed-chunk-7-1.png" width="672" /></p>
<pre class="r"><code>ggplot(data = diamonds) + 
  geom_bar(mapping = aes(x = clarity, fill = cut), position = &quot;fill&quot;) +
  scale_fill_manual(values = c(&quot;red&quot;, &quot;orange&quot;, &quot;darkgreen&quot;, &quot;dodgerblue&quot;, &quot;purple4&quot;
)) +
  labs( title = &quot;Clearer diamonds tend to be of higher quality cut&quot;,
        subtitle = &quot;The majority of IF diamonds are an \&quot;Ideal\&quot; cut&quot;)</code></pre>
<p><img src="/post/2018-12-21-custom-ggplots_files/figure-html/unnamed-chunk-8-1.png" width="672" /></p>
