---
title: The reason
author: Kevin
date: '2018-12-09'
slug: the-reason
categories:
  - R
tags:
  - WorkNotes
header:
  caption: ''
  image: ''
---



<blockquote>
<p>90 minutes</p>
</blockquote>
<p>This morning, I worked out the incorrect council code entries.</p>
<p>I used the case_when function to resolve the issue.</p>
<p>The challenging part was finding the correct order of operation to get that line of code synced.</p>
<p>I managed to fix up the e-mail script. I wrote up this <a href="https://kgilds.rbind.io/post/message-through-r/">post</a> a few days ago</p>
<p>ha, the reason it is sending twice is because I coded it to send twice. The first one is in the body and the second one is last line.</p>
<pre class="r"><code>html_msg = mime() %&gt;%
    to(&quot;kevingilds@gmail.com&quot;) %&gt;%
    from(&quot;kevingilds@gmail.com&quot;) %&gt;%
    html_body(text_content) %&gt;%
    subject(&quot;hello&quot;) %&gt;%
    attach_part(text_content)%&gt;%
    attach_file(&quot;product/status_report.pdf&quot;) 
    send_message(html_msg) 

send_message(html_msg)</code></pre>
