---
title: The relative path
author: Kevin
date: '2018-12-17'
slug: the-relative-path
categories:
  - R
tags:
  - chromebook data science
  - relative paths
header:
  caption: ''
  image: ''
---



<p>There I was confronted with a relative path challenge and I had to confront it in the Data Tidying Project. I took a few stabs at it, but I went back to the course <em>Organizing a Data Science Project</em> and it may have finally sunk in.</p>
<p>I was familiar with this command below.</p>
<pre><code>cd  ../
</code></pre>
<p>But I was doing this one directory at a time.</p>
<p>Consider this project simple project directory.</p>
<pre><code>
project_x
- data
--raw-data
--processed-data
</code></pre>
<p>If I was in the raw-data directory, I would use</p>
<pre><code>cd ../
</code></pre>
<p>twice just to get back to the project_x directory.</p>
<p>Now, that I truly understand relative paths I can do this in a more efficient manner.</p>
<pre><code>cd ../../
</code></pre>
<p>Will move me back to project_x directory in one command.</p>
