---
title: Long and Wide Data Tutorial
author: Kevin
date: '2018-11-24'
slug: long-and-wide-data-tutorial
categories:
  - R
tags:
  - chromebook data science
header:
  caption: ''
  image: ''
---



<p>Working through the course <strong>Data Tidying</strong> lesson <em>reshaping data</em></p>
<p>The shape of your data set matters and completing an analysis and the two typical shapes for a data set are wide and long. A wide data set is typically a tidy data set. It is important to be able to switch from wide to long an vice-versa. The examples below utilize R-packages and their functinction</p>
<pre class="r"><code>library(tidyr)</code></pre>
<p>The airquality dataset has data in a wide format.</p>
<pre class="r"><code>head(airquality)</code></pre>
<pre><code>##   Ozone Solar.R Wind Temp Month Day
## 1    41     190  7.4   67     5   1
## 2    36     118  8.0   72     5   2
## 3    12     149 12.6   74     5   3
## 4    18     313 11.5   62     5   4
## 5    NA      NA 14.3   56     5   5
## 6    28      NA 14.9   66     5   6</code></pre>
<p>The gather function from tidyr put data from a wide format to a long format.</p>
<pre class="r"><code>gathered &lt;- gather(airquality)

head(gathered)</code></pre>
<pre><code>##     key value
## 1 Ozone    41
## 2 Ozone    36
## 3 Ozone    12
## 4 Ozone    18
## 5 Ozone    NA
## 6 Ozone    28</code></pre>
<pre class="r"><code>gathered &lt;- gather(airquality, key=&quot;variable&quot;, value=&quot;value&quot;)

head(gathered)</code></pre>
<pre><code>##   variable value
## 1    Ozone    41
## 2    Ozone    36
## 3    Ozone    12
## 4    Ozone    18
## 5    Ozone    NA
## 6    Ozone    28</code></pre>
<pre class="r"><code>gathered &lt;- gather(airquality, key=&quot;variable&quot;, value=&quot;value&quot;, Ozone, Solar.R, Wind, Temp)

head(gathered)</code></pre>
<pre><code>##   Month Day variable value
## 1     5   1    Ozone    41
## 2     5   2    Ozone    36
## 3     5   3    Ozone    12
## 4     5   4    Ozone    18
## 5     5   5    Ozone    NA
## 6     5   6    Ozone    28</code></pre>
<p>The spread () function puts data from a long format to a wide format.</p>
<pre class="r"><code>## use gather() to reshape from wide to long
spread_data &lt;- spread(gathered, key=variable, value=value)

head(spread_data)</code></pre>
<pre><code>##   Month Day Ozone Solar.R Temp Wind
## 1     5   1    41     190   67  7.4
## 2     5   2    36     118   72  8.0
## 3     5   3    12     149   74 12.6
## 4     5   4    18     313   62 11.5
## 5     5   5    NA      NA   56 14.3
## 6     5   6    28      NA   66 14.9</code></pre>
<div id="more-methods" class="section level2">
<h2>More methods</h2>
<p>reshape2 is a r package that has functions to switch betwee wide and long format.</p>
<ul>
<li>melt will transform the the data to a long format</li>
<li>dcast will transform the data to a wide format as a data frame.</li>
<li>acast will transform the data back to a wide format as a matrix.</li>
</ul>
<pre class="r"><code>install.packages(&quot;reshape2&quot;)</code></pre>
<pre><code>## Installing package into &#39;/home/rstudio-user/R/x86_64-pc-linux-gnu-library/3.5&#39;
## (as &#39;lib&#39; is unspecified)</code></pre>
<pre class="r"><code>library(reshape2)</code></pre>
<pre><code>## 
## Attaching package: &#39;reshape2&#39;</code></pre>
<pre><code>## The following object is masked from &#39;package:tidyr&#39;:
## 
##     smiths</code></pre>
<pre class="r"><code>melted &lt;- melt(airquality)</code></pre>
<pre><code>## No id variables; using all as measure variables</code></pre>
<pre class="r"><code>head(melted)</code></pre>
<pre><code>##   variable value
## 1    Ozone    41
## 2    Ozone    36
## 3    Ozone    12
## 4    Ozone    18
## 5    Ozone    NA
## 6    Ozone    28</code></pre>
<pre class="r"><code>tail(melted)</code></pre>
<pre><code>##     variable value
## 913      Day    25
## 914      Day    26
## 915      Day    27
## 916      Day    28
## 917      Day    29
## 918      Day    30</code></pre>
<p>The code chunk below will use the Month and Day variable as a key variable.</p>
<pre class="r"><code>melted_1 &lt;- melt(airquality, id.vars = c(&quot;Month&quot;,&quot;Day&quot;))

head(melted_1)</code></pre>
<pre><code>##   Month Day variable value
## 1     5   1    Ozone    41
## 2     5   2    Ozone    36
## 3     5   3    Ozone    12
## 4     5   4    Ozone    18
## 5     5   5    Ozone    NA
## 6     5   6    Ozone    28</code></pre>
<pre class="r"><code>original &lt;- dcast(melted_1, Month + Day ~ variable)

head(original)</code></pre>
<pre><code>##   Month Day Ozone Solar.R Wind Temp
## 1     5   1    41     190  7.4   67
## 2     5   2    36     118  8.0   72
## 3     5   3    12     149 12.6   74
## 4     5   4    18     313 11.5   62
## 5     5   5    NA      NA 14.3   56
## 6     5   6    28      NA 14.9   66</code></pre>
<pre class="r"><code>head(airquality)</code></pre>
<pre><code>##   Ozone Solar.R Wind Temp Month Day
## 1    41     190  7.4   67     5   1
## 2    36     118  8.0   72     5   2
## 3    12     149 12.6   74     5   3
## 4    18     313 11.5   62     5   4
## 5    NA      NA 14.3   56     5   5
## 6    28      NA 14.9   66     5   6</code></pre>
</div>
