---
title: forcats and levels
author: Kevin
date: '2018-12-04'
slug: forcats-and-levels
categories:
  - R
tags:
  - chromebook data science
  - WorkNotes
header:
  caption: ''
  image: ''
---



<p>Did I know this? I am not sure but it was helpful to learn again.</p>
<p>The key is making the all_days vector and using that to establish the levels for the factor. I don’t think I was aware that you could create the level and not have it in the answer choices.</p>
<pre class="r"><code>library(forcats)</code></pre>
<pre class="r"><code>all_days &lt;- c(&quot;Sunday&quot;, &quot;Monday&quot;, &quot;Tuesday&quot;, &quot;Wednesday&quot;, &quot;Thursday&quot;, &quot;Friday&quot;, &quot;Saturday&quot;)</code></pre>
<pre class="r"><code>some_days &lt;- c(&quot;Friday&quot;, &quot;Saturday&quot;, &quot;Sunday&quot;)</code></pre>
<pre class="r"><code>days &lt;- factor(some_days, levels = all_days)</code></pre>
