---
title: Thrashing a Shiny Application
author: Kevin
date: '2018-09-30'
slug: thrashing-a-shiny-application
categories: [R, Shiny]
tags:
  - Shiny
header:
  caption: ''
  image: ''
---



<p>For the past week, I have been thrashing with a Shiny Application. There is so much data, and I am struggling to determine who this Shiny Application is actually for.</p>
<p>This podcast episode has been helpful in providing some consoling.</p>
<iframe src="https://art19.com/shows/akimbo/episodes/3b852bc8-9f18-4828-81e3-9a76c2753148/embed?theme=light-gray-orange" style="width: 100%; height: 200px; border: 0 none;" scrolling="no">
</iframe>
