---
title: Knocking out issues
author: Kevin
date: '2018-12-23'
slug: knocking-out-issues
categories:
  - R
tags:
  - WorkNotes
header:
  caption: ''
  image: ''
---



<blockquote>
<p>5:30-7:00</p>
</blockquote>
<p>I was able to knock out some issues this morning.</p>
<p>I was finally able to code in a value and display in infobox–most importantly it i s designed to update when the data is uploaded</p>
<pre class="r"><code> output$hr &lt;- renderInfoBox({
    
    infoBox(
     paste0(&quot;Healthy Relationships&quot;), hr &lt;- success_p(hr_score), color = &quot;green&quot;, fill = TRUE
    
    )
    
   })</code></pre>
<p>I was also able to get the choices in the order they appear.</p>
