---
title: Playing with Mutate
author: Kevin
date: '2019-02-21'
slug: playing-with-mutate
categories:
  - R
tags:
  - Chromegook Data Sciene
header:
  caption: ''
  image: ''
---



<div id="intent" class="section level1">
<h1>Intent</h1>
<p>This morning I created an inelgant code to get a mutate statement right for a Chromebook Data Science Project. I think it works but I want to play around and try some more solutions. I thought of this <a href="https://suzan.rbind.io/2018/02/dplyr-tutorial-2/">tutoral</a> immediately.</p>
<pre class="r"><code>library(tidyverse)</code></pre>
<pre><code>## ── Attaching packages ───────────────────────────────────────────────────────── tidyverse 1.2.1 ──</code></pre>
<pre><code>## ✔ ggplot2 3.1.0     ✔ purrr   0.2.5
## ✔ tibble  1.4.2     ✔ dplyr   0.7.7
## ✔ tidyr   0.8.2     ✔ stringr 1.3.1
## ✔ readr   1.1.1     ✔ forcats 0.3.0</code></pre>
<pre><code>## ── Conflicts ──────────────────────────────────────────────────────────── tidyverse_conflicts() ──
## ✖ dplyr::filter() masks stats::filter()
## ✖ dplyr::lag()    masks stats::lag()</code></pre>
<pre class="r"><code>names(msleep)</code></pre>
<pre><code>##  [1] &quot;name&quot;         &quot;genus&quot;        &quot;vore&quot;         &quot;order&quot;       
##  [5] &quot;conservation&quot; &quot;sleep_total&quot;  &quot;sleep_rem&quot;    &quot;sleep_cycle&quot; 
##  [9] &quot;awake&quot;        &quot;brainwt&quot;      &quot;bodywt&quot;</code></pre>
<pre class="r"><code>glimpse(msleep)</code></pre>
<pre><code>## Observations: 83
## Variables: 11
## $ name         &lt;chr&gt; &quot;Cheetah&quot;, &quot;Owl monkey&quot;, &quot;Mountain beaver&quot;, &quot;Grea...
## $ genus        &lt;chr&gt; &quot;Acinonyx&quot;, &quot;Aotus&quot;, &quot;Aplodontia&quot;, &quot;Blarina&quot;, &quot;Bo...
## $ vore         &lt;chr&gt; &quot;carni&quot;, &quot;omni&quot;, &quot;herbi&quot;, &quot;omni&quot;, &quot;herbi&quot;, &quot;herbi...
## $ order        &lt;chr&gt; &quot;Carnivora&quot;, &quot;Primates&quot;, &quot;Rodentia&quot;, &quot;Soricomorph...
## $ conservation &lt;chr&gt; &quot;lc&quot;, NA, &quot;nt&quot;, &quot;lc&quot;, &quot;domesticated&quot;, NA, &quot;vu&quot;, N...
## $ sleep_total  &lt;dbl&gt; 12.1, 17.0, 14.4, 14.9, 4.0, 14.4, 8.7, 7.0, 10.1...
## $ sleep_rem    &lt;dbl&gt; NA, 1.8, 2.4, 2.3, 0.7, 2.2, 1.4, NA, 2.9, NA, 0....
## $ sleep_cycle  &lt;dbl&gt; NA, NA, NA, 0.1333333, 0.6666667, 0.7666667, 0.38...
## $ awake        &lt;dbl&gt; 11.9, 7.0, 9.6, 9.1, 20.0, 9.6, 15.3, 17.0, 13.9,...
## $ brainwt      &lt;dbl&gt; NA, 0.01550, NA, 0.00029, 0.42300, NA, NA, NA, 0....
## $ bodywt       &lt;dbl&gt; 50.000, 0.480, 1.350, 0.019, 600.000, 3.850, 20.4...</code></pre>
<pre class="r"><code>msleep %&gt;%
  select(name, sleep_total:awake) %&gt;%
  mutate_at(vars(contains(&quot;sleep&quot;)), ~(.*60))</code></pre>
<pre><code>## # A tibble: 83 x 5
##    name                       sleep_total sleep_rem sleep_cycle awake
##    &lt;chr&gt;                            &lt;dbl&gt;     &lt;dbl&gt;       &lt;dbl&gt; &lt;dbl&gt;
##  1 Cheetah                            726        NA       NA     11.9
##  2 Owl monkey                        1020       108       NA      7  
##  3 Mountain beaver                    864       144       NA      9.6
##  4 Greater short-tailed shrew         894       138        8.00   9.1
##  5 Cow                                240        42       40.0   20  
##  6 Three-toed sloth                   864       132       46.0    9.6
##  7 Northern fur seal                  522        84       23.0   15.3
##  8 Vesper mouse                       420        NA       NA     17  
##  9 Dog                                606       174       20.0   13.9
## 10 Roe deer                           180        NA       NA     21  
## # ... with 73 more rows</code></pre>
<p>I need to try this method on another branch for your final project to determine if it works.</p>
<pre class="r"><code>#alternative to using the actual arithmetics:
msleep %&gt;%
  select(name, contains(&quot;sleep&quot;)) %&gt;%
  rowwise() %&gt;%
  mutate(avg = mean(c(sleep_rem, sleep_cycle)))</code></pre>
<pre><code>## Source: local data frame [83 x 5]
## Groups: &lt;by row&gt;
## 
## # A tibble: 83 x 5
##    name                       sleep_total sleep_rem sleep_cycle    avg
##    &lt;chr&gt;                            &lt;dbl&gt;     &lt;dbl&gt;       &lt;dbl&gt;  &lt;dbl&gt;
##  1 Cheetah                           12.1      NA        NA     NA    
##  2 Owl monkey                        17         1.8      NA     NA    
##  3 Mountain beaver                   14.4       2.4      NA     NA    
##  4 Greater short-tailed shrew        14.9       2.3       0.133  1.22 
##  5 Cow                                4         0.7       0.667  0.683
##  6 Three-toed sloth                  14.4       2.2       0.767  1.48 
##  7 Northern fur seal                  8.7       1.4       0.383  0.892
##  8 Vesper mouse                       7        NA        NA     NA    
##  9 Dog                               10.1       2.9       0.333  1.62 
## 10 Roe deer                           3        NA        NA     NA    
## # ... with 73 more rows</code></pre>
<p>I have tried to play around with this example and my play is not panning out.</p>
<p>However below is any example to keep in mind.</p>
<p># Replacing a value with NA</p>
<p>This code chunk is very applicable.</p>
<pre class="r"><code>msleep %&gt;%
  select(name:order) %&gt;%
  na_if(&quot;omni&quot;)</code></pre>
<pre><code>## # A tibble: 83 x 4
##    name                       genus       vore  order       
##    &lt;chr&gt;                      &lt;chr&gt;       &lt;chr&gt; &lt;chr&gt;       
##  1 Cheetah                    Acinonyx    carni Carnivora   
##  2 Owl monkey                 Aotus       &lt;NA&gt;  Primates    
##  3 Mountain beaver            Aplodontia  herbi Rodentia    
##  4 Greater short-tailed shrew Blarina     &lt;NA&gt;  Soricomorpha
##  5 Cow                        Bos         herbi Artiodactyla
##  6 Three-toed sloth           Bradypus    herbi Pilosa      
##  7 Northern fur seal          Callorhinus carni Carnivora   
##  8 Vesper mouse               Calomys     &lt;NA&gt;  Rodentia    
##  9 Dog                        Canis       carni Carnivora   
## 10 Roe deer                   Capreolus   herbi Artiodactyla
## # ... with 73 more rows</code></pre>
</div>
