---
title: Colnames()
author: Kevin
date: '2019-01-12'
slug: colnames
categories:
  - R
tags:
  - chromebook data science
header:
  caption: ''
  image: ''
---



<pre class="r"><code>library(tidyverse)</code></pre>
<pre><code>## ── Attaching packages ─────────────────────────────────────────── tidyverse 1.2.1 ──</code></pre>
<pre><code>## ✔ ggplot2 3.1.0     ✔ purrr   0.2.5
## ✔ tibble  1.4.2     ✔ dplyr   0.7.7
## ✔ tidyr   0.8.2     ✔ stringr 1.3.1
## ✔ readr   1.1.1     ✔ forcats 0.3.0</code></pre>
<pre><code>## ── Conflicts ────────────────────────────────────────────── tidyverse_conflicts() ──
## ✖ dplyr::filter() masks stats::filter()
## ✖ dplyr::lag()    masks stats::lag()</code></pre>
<p>In R as in life, there are many ways to accomplish a task. When working on the swirl exercies–understand this concept.</p>
<p>With colnames these two code scripts to be equivelant.</p>
<pre class="r"><code>xx &lt;- tribble(
  ~x, ~y, ~z,
  #--|--|----
  &quot;a&quot;, 2, 3.6,
  &quot;b&quot;, 1, 8.5
)</code></pre>
<pre class="r"><code>colnames(xx[2])</code></pre>
<pre><code>## [1] &quot;y&quot;</code></pre>
<pre class="r"><code>colnames(xx)[2]</code></pre>
<pre><code>## [1] &quot;y&quot;</code></pre>
