---
title:  Back to Basics
author: Kevin
date: '2018-10-21'
slug: back-to-basics
categories:
  - Worknotes
tags:
   ["Vectors", "Google Sheets", "Stringr"]
header:
  caption: ''
  image: ''
---



<p>I started using the google sheets package to extract attendance data.</p>
<p>An interesting caveot when using he program. gs_title is different than gs_read. There is an nuances difference. Here is a <a href="https://github.com/jennybc/googlesheets/issues/114">Github Issue</a> that helped me understand how to resolve.</p>
<p>A trouble spot with the attendance data is when a site as mutliple groups within a site. For example:</p>
<p>Site A, Period 1</p>
<p>Site A, Period 2</p>
<p>The solution was to use the stringr package and maanged to extract out school names when there multiple groups at a single site.</p>
<p>I recently completed <a href="https://www.datacamp.com/courses/free-introduction-to-r">Introduction to R</a> with Data Camp and it was worthwhile completing. I used a lot of vectors to get through when a school had multiple groups of students.</p>
<p>Ironically, I have more context to understand the fundamentals of R.</p>
